[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Logseq
Comment=Application description
Icon=/usr/share/icons/logseq.png
Exec=/usr/local/bin/logseq
Terminal=false
Categories=Tags;Describing;Application
MimeType=x-scheme-handler/logseq;text/html;
